<div class="home-container">
    <app-card gameCover="assets/ac-cover.jpg" gameLabel="EXCLUSIVE" gamePrice="R$249,99"
        gameType="DISC | PS4"></app-card>
    <app-card gameCover="assets/bt-1.jpg" gameLabel="EXCLUSIVE" gamePrice="R$199,99"
        gameType="DIGITAL | PS4 PS3"></app-card>
    <app-card gameCover="assets/bt-5.jpg" gameLabel="BEST OF YEAR" gamePrice="R$399,99"
        gameType="DISC | PS5 PS4"></app-card>
    <app-card gameCover="assets/bt-hardline.jpg" gameLabel="NEW" gamePrice="R$399,99"
        gameType="DIGITAL | PS5 PS4 PS3"></app-card>
</div>